@font-face {
    font-family: 'Neue Montreal';
    src: url(fonts/NeueMontreal-Regular.otf);
}

@font-face{
    font-family: 'Yukita Sans';
    src: url(fonts/YukitaSans-Bold.otf)
}

@font-face{
    font-family: 'Lemon Milk';
    src: url(fonts/LEMONMILK-Regular.otf)
}


html, body{
    height: 100vh;
    width: 100vw;
    margin: 0%;
    padding: 0%;
    background-color: #FAF9F6;
    color: #232b2b;
}

h1, h2, button{
    font-family: 'Neue Montreal', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 0;
    font-weight: normal;
}

h1{
    font-size: 55px;
    text-align: center;
    font-weight: light;
}

h2{
    font-size: 50px;
    font-weight: bold;
}

button{
    width: 100px;   
    height: 50px; 
    border-radius: 10%; 
    border-style: none;
    font-weight: normal;
    background-color: rgb(245, 240, 240);
}

button:hover{
    background-color: #dedbd3;
}

#reset-btn{
    background-color: #3b3e3e;
    color: white
}

#reset-btn:hover{
    background-color: #232b2b
}

.buttonsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bigger{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Lemon Milk', 'Neue Montreal', sans-serif;
}

.biggerPlay{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Yukita Sans', 'Neue Montreal', sans-serif;
}

body.animatedBackgroundChange{
    transition: background-color 1s ease, color 1s ease;
}

.colorChange{
    transition: color 0.5s ease
}